.App {
  padding: 30px;
}

.App input,
.App select {
  background-color: white;
  font-size: 16px;
  height: 40px;
  padding: 5px 10px;
}

.App button {
  background-color: darkslateblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

.App button:hover {
  opacity: 0.8;
}

.App__fetching {
  color: #555;
  display: block;
  margin: 20px 0;
}

.App ul {
  margin: 10px 0 0;
  padding: 0;
}

.App li {
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 10px;
}
